<h3>Admin Practice Dashboard</h3>

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/practice", "Practices"), ("","PracticeIndex") })>

    <a asp-action="staffIndex" class="btn btn-sm btn-info mr-4">List of Staff</a>
    <a asp-action="doctorIndex" class="btn btn-sm btn-info mr-4">List of Doctors</a>
    <a asp-action="patientIndex" class="btn btn-sm btn-info mr-4">List of Patients</a>


