<h3>Doctor Index</h3>

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/doctor", "Doctors"), ("","Index") })>



    <a asp-action="DIndex"  class="btn btn-sm btn-info mr-4">View Doctors List</a>
    <a asp-action="patientIndex" class="btn btn-sm btn-info mr-4">Registered Patients</a>

