<h1>Index</h1>

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/staff", "Staffs"), ("","Index") })>

    <p>
        Staff Dashboard
    </p>

    <a asp-action="details">View staff Details</a>

